body {
  background: rgb(102, 178, 255);
}

main {
  max-width: 610px;
  margin: auto;
}

h3, h5, #startButton {
  text-align: center;
  color: rgb(255, 255, 153);
  margin: 5px;
}

.grid {
    width: 540px;
    height: 540px;
    margin: 20px;
    border: 25px solid #333;
}

.slot {
    float: left;
    width: 25px;
    height: 25px;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    font-size:22px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #666;
  background-color: rgb(255, 255, 153);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: rgb(224, 224, 139)}

.button:active {
  background-color: rgb(224, 224, 139);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}