body {
  background: rgb(102, 178, 255);
}

main {
  max-width: 32rem;
  padding: 2rem;
  margin: auto;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 153);
}

#messageBox {
  text-align: center;
  color: rgb(255, 255, 153);
  border: 2px solid rgb(255, 255, 153);
  border-radius: 10px;
}

#difficulty {
  height: 65px;
  width: 140px; 
  border-radius: 10px; 
  font-size: 24px;
  background-color: rgb(255, 255, 153);
  color: #666;
  padding-left: 20px;
}

.controls {
  text-align: center;
}

.square {
  display: inline-block;
  width: 10em;
  height: 75px;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 75px;
  color: rgb(255, 255, 153);
}

.left {
  border-right: 1px solid rgb(255, 255, 153);
}

.right {
  border-left: 7px solid rgb(255, 255, 153);
}

.top {
  border-bottom: 1px solid rgb(255, 255, 153);
}

.bottom {
  border-top: 7px solid rgb(255, 255, 153);
}

.v-middle {
   border-right: 1px solid rgb(255, 255, 153);
   border-left: 7px solid rgb(255, 255, 153);
}

.h-middle {
   border-top: 7px solid rgb(255, 255, 153);
   border-bottom: 1px solid rgb(255, 255, 153);
}

/* Buttons */
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #666;
  background-color: rgb(255, 255, 153);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: rgb(224, 224, 139)
}

.button:active {
  background-color: rgb(224, 224, 139);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
