body {
  background: #333;
}

h1, h5 {
  color: white;
}

main {
  max-width: 610px;
  margin: auto;
}

.node {
    float: left;
    background-color: #e9e9e9;
    font-size:24px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.target {
    font-weight: bold;
    opacity: 0.5;
}

.players {
    height:35px;
    display: flex;
    justify-content: space-between;
}

.player {
    border-radius: 50px;
    padding: 5px;
    border:2px solid white;
    color: white;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(71, 71, 71);
  background-color: rgb(200, 200, 200);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 20%;
}

.button:hover {background-color: rgb(240, 240, 240)}

.button:active {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 5px rgb(71, 71, 71);;
  transform: translateY(4px);
}